body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background: white;
}

* {
  font-family: "Arvo", serif;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  /*   border-radius:10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.6;
}

.button:hover {
  opacity: 1;
}

.text {
  text-align: center;
}

.hr {
  position: absolute;
  width: 100vw;
  bottom: 5vh;
  left: 0;
  height: 5px;
  background: black;
  z-index: 100;
}

#process {
  position: absolute;
  width: 100vw;
  bottom: 0vh;
  left: 0;
  height: 5vh;
  background: #EB855B;
  left: -100vw;
  z-index: 100;
}
