html,body{
    margin:0;
    height:100%
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
/*   background-image:url("https://i.imgur.com/Asvuvrd.jpg");
  background-size:100vw;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;   */
}

#responsive{
  position:absolute;
  z-index:999;
  display:none;
  background:black;
  height:100%;
  width:100%;
}
#text{
  position:absolute;
  top:10px;
  left:50px;
  font-family: 'Roboto', sans-serif;

}
.container{
  display:flex;
  width:50%;
  height:40%;
  border: 8px solid black;
}

.save{
  display:flex;
  width:3vw;
  height:40%;
  border: 8px solid black;
  border-left:0px;
  background:white;
}

.vertical{
  margin-top:15px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height:3vw;
  font-size:1.2vw;
  font-family: 'Roboto', sans-serif;
  white-space:nowrap;
  display:inline;
}

.vertical:hover{
/*   color:#2196F3; */
  cursor:pointer;
}
.palatte{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}


.colorcode{
  text-align:center;
  font-size:0.8em;
  font-family: 'Roboto', sans-serif;
}

.contact{
  position:absolute;
  bottom:20px;
  right:20px; 
  font-family: 'Roboto', sans-serif;
  font-size:1.3em
}

a{
  text-decoration:none;
  color:black;

}


/* radio style */

/* The container */
.CheckContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight:bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.CheckContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.CheckContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.CheckContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.CheckContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.CheckContainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 0%;
	background: white;
}