/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color:linen;
}

h1 {
  font-style: italic;
  color: #373fff;
}

div{
  width:500px;
  background-color:white;
  padding:10%;
  margin:auto;
  position:relative;
}


p:first-of-type:first-letter{
  color:red;
  font-size:3em;
}


nav{
position:absolute;
buttom:0rem;
right:1rem}


a:visited:{color:black}
a:hover{color:red;text-decoration:none;background-color:red;color:black}
a:active{font-size:5rem;}