/* CSS files add styling rules to your content */

body,html{
  height:100%;
  background:#5c4033;
}
body {
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%
}

img{
  width:50%;
}
